
.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.input-box {
    width: 80%;
    height: 40px;
    border-radius: 5px;
}
.button {
    height: 45px;
    width: 80%;
    border-radius: 5px;
}