
.otp-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.input-container {
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}
.otp-field {
    width: 20%;
    height: 100%;
    border-radius: 5px;
    text-align: center;
}
.verify-button {
    height: 45px;
    width: 80%;
    border-radius: 5px;
}